:root {
  --primaryColor: #059669;
  --secondaryColor: #1e293b;
}
* {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#navbar {
  background-color: var(--secondaryColor);
  height: 4em;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  position: fixed;
  top: 0;
}

#name {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
}
#navlist {
  height: 100%;
  width: 40vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#Intro {
  height: 85vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.7em;
  margin-top: 3em;
}
.intro-img {
  height: 15em;
  width: 15em;
}
#aboutme {
  height: 95vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutme-img {
  height: 20em;
  width: 20em;
  border-radius: 50%;
  object-fit: cover;
}
.aboutme-img-div {
  height: 20em;
  width: 30vw;
  display: flex;
  justify-content: flex-end;
  padding: 1em;
}
.aboutme-txt {
  text-align: justify;
  font-size: 1.3em;
  background-color: var(--primaryColor);
  width: 50vw;
  padding: 2em;
  border-radius: 2%;
}
.aboutme-txt .heading {
  font-size: 2em;
}
#Projects {
  width: 98vw;
}
.proj-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5em;
}
.proj-head {
  color: var(--primaryColor);
  text-align: center;
  height: 10vh;
  font-size: 1.5em;
}
.proj-img {
  width: 45em;
  height: 25em;
  border: 0.5px solid var(--secondaryColor);
  border-radius: 3%;
}
.proj-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3em;
  font-size: 1.2em;
  height: 11em;
  width: 15em;
  text-align: center;
  vertical-align: middle;
}
.proj-btn {
  background-color: var(--primaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  border-color: white;
  height: 3em;
  width: 8em;
}
.btnsection {
  padding: 3em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.allbtn {
  background-color: var(--primaryColor);
  height: 3em;
  width: 9em;
  font-size: large;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
}
#contact {
  background-color: #1e293b;
  position: relative;
  height: 50vh;
}
.contact-heading {
  width: 100%;
  height: 10vh;
  color: var(--primaryColor);
  text-align: center;
  font-size: 2.5em;
  margin-top: 1.5em;
}
.contact-img {
  width: 40vw;
  height: 40vh;
  position: absolute;
  bottom: 0;
}
.contact-section {
  position: absolute;
  right: 0;
  height: 100%;
  width: 50vw;
}
.links {
  color: white;
  font-size: 1.5em;
  margin-top: 2.5em;
  display: flex;
  align-content: center;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: var(--primaryColor);
}
